<div class="dashboard-container">
  <div nz-row nzGutter="16" class="summary-row">
    <div nz-col [nzXs]="24" [nzSm]="8">
      <nz-card>
        <h3>Egyenleg</h3>
        <span style="color: slateblue;">
          {{ stats?.balance | currency:'Ft ':'symbol':'1.0-0' }}
        </span>
      </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8">
      <nz-card>
        <h3>Összes Bevétel</h3>
        <span style="color: rgba(0, 200, 83, 0.7);">
          {{ stats?.totalIncome | currency:'Ft ':'symbol':'1.0-0' }}
        </span>
      </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8">
      <nz-card>
        <h3>Összes Kiadás</h3>
        <span style="color: rgba(255, 82, 82, 0.7);">
          {{ stats?.totalExpense | currency:'Ft ':'symbol':'1.0-0' }}
        </span>
      </nz-card>
    </div>
  </div>

  <div nz-row nzGutter="16" class="main-row" style="margin-top: 20px;">
    <div nz-col [nzXs]="24" [nzMd]="16">
      <nz-card nzType="inner" nzTitle="Bevétel és Kiadás diagramm">
        <nz-radio-group [(ngModel)]="selectedCombinedRange" (ngModelChange)="createCombinedChart()" style="float: right;">
          <label nz-radio-button nzValue="7d">7 nap</label>
          <label nz-radio-button nzValue="30d">30 nap</label>
          <label nz-radio-button nzValue="90d">90 nap</label>
          <label nz-radio-button nzValue="1y">1 év</label>
        </nz-radio-group>
        <canvas #combinedChartRef height="220"></canvas>
      </nz-card>
    </div>

    <div nz-col [nzXs]="24" [nzMd]="8">
      <nz-card nzType="inner" nzTitle="Legutóbbi tranzakciók">
        <div nz-card-grid style="width: 100%;">
          <span style="color: green">
            +{{ stats?.latestIncome?.amount | currency:'Ft ':'symbol':'1.0-0' }} – {{ stats?.latestIncome?.title || '—' }}
          </span>
        </div>
        <div nz-card-grid style="width: 100%;">
          <span style="color: rgba(255, 82, 82, 0.7)">
            -{{ stats?.latestExpense?.amount | currency:'Ft ':'symbol':'1.0-0' }} – {{ stats?.latestExpense?.title || '—' }}
          </span>
        </div>
      </nz-card>

      <nz-card nzType="inner" nzTitle="Bevétel" style="margin-top: 16px;">
        <div nz-row>
          <div nz-col [nzSpan]="12">Minimum: {{ stats?.minIncome | currency:'Ft':'symbol':'1.0-0' }}</div>
          <div nz-col [nzSpan]="12">Maximum: {{ stats?.maxIncome | currency:'Ft':'symbol':'1.0-0' }}</div>
        </div>
      </nz-card>

      <nz-card nzType="inner" nzTitle="Kiadás" style="margin-top: 16px;">
        <div nz-row>
          <div nz-col [nzSpan]="12">Minimum: {{ stats?.minExpense | currency:'Ft':'symbol':'1.0-0' }}</div>
          <div nz-col [nzSpan]="12">Maximum: {{ stats?.maxExpense | currency:'Ft':'symbol':'1.0-0' }}</div>
        </div>
      </nz-card>
    </div>
  </div>
</div>