<div class="login-container">
  <div class="logo-section">
    <img src="assets/Fortunetrack_logo.png" class="header-logo" alt="Logo" />
  </div>

  <nz-card class="login-card" nzTitle="Bejelentkezés" [nzBordered]="false">
    <form>
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Email</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input type="email" name="email" [(ngModel)]="email" />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Jelszó</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <div style="position: relative;">
            <input nz-input [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password" 
              style="width: 100%; padding-right: 40px;"/>
            <button nz-button nzType="text" nzSize="small" (click)="hide = !hide"
              style=" position: absolute; top: 50%; right: 8px; transform: translateY(-50%); z-index: 1;">
              <i nz-icon [nzType]="hide ? 'eye-invisible' : 'eye'" nzTheme="outline" nz-tooltip
                [nzTooltipTitle]="hide ? 'Jelszó megjelenítése' : 'Jelszó elrejtése'"></i>
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>

      <div style="margin-top: 12px; text-align: center;">
        <button nz-button nzType="primary" (click)="login()">Bejelentkezés</button>
      </div>
    </form>

    <div style="margin-top: 16px; text-align: center;">
      <a routerLink="/register">Még nincs fiókod? <span class="text-danger">Regisztrálj</span></a>
    </div>
  </nz-card>
</div>
